*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
smex-items
network-security.data
savefile/
projectile-bookmarks.eld
projectile.cache
session*
.cask
tramp
/var/pcache
personal/
